
<div class="container">

  <div class="row col-12  col-md-8 justify-content-md-center" style="margin-left: 30px;">

      <div class="col-md-4 col" >
        <mat-card class="compra-card"  style="width: 160px;">
          <img mat-card-image src="assets/compra.png" alt="Compra" >
          <mat-card-content>
            <p class="descricao">
              FACILIDADE <BR>
              DE COMPRA
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 col">
        <mat-card class="quantidade-card " style="width: 130px; margin-top: 25px;">
          <img mat-card-image src="assets/quantidade.png" alt="Quantidade" >
          <mat-card-content>
            <p class="descricao">
              QUANTIDADE <br>
             NÃO LIMITADA
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>

  <div div class="row col-12 col-md-6" style="margin-top: 15px; margin-bottom: 20px; margin-right: 0px;" >
    <div class="col-md-4 col">
      <mat-card class="frete-card">
        <img mat-card-image src="assets/frete-gratis.png" alt="frete-gratis" >
        <mat-card-content>
          <p class="descricao">
            FRETE GRÁTIS
          </p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-4 m-0" >
      <mat-card class="agilidade-card" >
        <img mat-card-image src="assets/agilidade.png" alt="agilidade" style="width: 150px; height: 100px;">
        <mat-card-content>
          <p class="descricao">
            AGILIDADE
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4 m-0">
      <mat-card class="comodidade-card">
        <img mat-card-image src="assets/comodidade.png" alt="comodidade">
        <mat-card-content>
          <p class="descricao">
            COMODIDADE
          </p>
        </mat-card-content>
        </mat-card>
    </div>
  </div>

</div>

